ul {
    list-style-type: none;
}
.sortable li,
.sortable tr,
.sortable div.gridview {
    cursor: move;
}

/* fix jquery ui sortable style */
.ui-sortable-placeholder {
    border: 1px dashed #ddd !important;
    visibility: visible !important;
}
tr.ui-sortable-placeholder {
    height: 56px !important;
}

.gridview {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    z-index: 0;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(150, 150, 150, 0.2);
    background-color: #ffffff;
}
.gridview.no-margin {
    margin-left: 0;
}
.gridview.ui-sortable-helper {}
.gridview .gridview-header {
    margin: 10px;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
}
.gridview .gridview-header input[type="checkbox"] {
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}
.gridview .gridview-header .btn-group {
    float: right;
}
.gridview table {
    margin-bottom: 0px;
    width: 100%;
}
.gridview th,
.gridview td {
    padding-left: 10px;
}
.gridview th + td > a {
    display: block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#show_per_page {
    margin-bottom: 0;
}
.lbl-showtext {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}